:root {
    --font-family: 'Inter', sans-serif;
    --second-family: 'Roboto', sans-serif;
}

/* Базовые стили */
body {
    font-family: var(--font-family);
    font-variation-settings: 'wght' 3281; /* Inter Regular по умолчанию */
}

/* Классы для разных начертаний */
.font-inter-regular {
    font-family: var(--font-family);
    font-variation-settings: 'wght' 3281;
}

.font-inter-medium {
    font-family: var(--font-family);
    font-variation-settings: 'wght' 2914;
}

.font-inter-semibold {
    font-family: var(--font-family);
    font-variation-settings: 'wght' 2077;
}

.font-inter-bold {
    font-family: var(--font-family);
    font-variation-settings: 'wght' 22;
}

.font-roboto-regular {
    font-family: var(--second-family);
    font-variation-settings: 'wght' 130;
}
